<!-- This code is included only to display timings -->

<table id = "timing">
    <tr>
        <td>
            <t4>
                Time to first byte:
            </t4>
        </td>
        <td>
            <h3 id = "time-to-first-byte" class = "highlight">

            </h3>
        </td>
    </tr>
    <tr>
        <td>
            <t4>
                Time to DOM loading:
            </t4>
        </td>
        <td>
            <h3 id = "time-to-dom-loading" class = "highlight">
            </h3>
        </td>
    </tr>
</table>
<script src="/assets/javascripts/timing.js"></script>